<!-- This section is for header.ejs -->
<%- include("../views/partials/header.ejs") %>

<h1>Home</h1>
<p><%= homeStartingContent %></p>
<% postArray.forEach((element) => { %>
  <h1><%= element.title %></h1>
  <p><%= element.content %></p>
<% }); %>

<!-- This section is for footer.ejs -->
<%- include("../views/partials/footer.ejs") %>
